    {% extends 'base.html.twig' %}

    {% block title %}Cardex - Accueil{% endblock %}

    {% block body %}
        Index de Cardex <br /><br />

        Liste des extensions :
        <ul>
            {% for extension in extensions %}
                <li><a href="{{ path('extension.show', {'extension': extension.id}) }}">
                    {{ extension.code }} - {{ extension.name }} : {{ extension.completion }}%
                </a></li> 
            {% endfor %}
        </ul> <br />

        Liste des cartes manquantes :
        <ul>
            {% for card in cards %}
                <li><a href="{{ path('card.show', {'extension': card.extension.id, 'number': card.number}) }}">
                    {{ card.name }} <br /> {{ card.extension.code }} - {{ card.number }} - {{ card.rarity }}
                </a></li>
            {% endfor %}
        </ul>
    {% endblock %}